:root{
    --color1 : #005d55;
    --color2 : #549b8b;
    --color4 : #c8a20b;
    --color3 : #063235;
}
html{
    box-sizing: border-box;
}
body{
    margin: 0;
    width: 100%;
    height: 100vh;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-family: 'Raleway', sans-serif;
    
}
/* Navegador*/
#nav{
    background-color: var(--color4);
    position: fixed;
    top: 0;
    width: 100%;
    height: 3rem;
    border-bottom: 2px solid var(--color3);
    display: flex;
    justify-content: right;
    align-items: center;
    z-index: 1;
}
ul{
    margin-right: 20px ;
}

li a{
    text-decoration: none;
    color: var(--color1);
    padding: 2px 5px;
}

li a:hover{
    background-color: var(--color4);
    border-radius: 25px;
    filter: brightness(115%);    
}

nav li{
   display: inline;
   margin-right: 20px ;
   font-size: 20px;
   font-weight: bold;
}

/*Primer Section*/
.container-section-one{
width: 100vw;
height: 500px;
margin-top: 50px;
background-color: var(--color3);
}

.container-img{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50% 50%;
    place-items: center;
    
}

.background-img{
        width: 90%;
        height: 99%;
        border-radius: 7px;
        background-size: contain;
        filter: opacity(85%);
}

/*Main Section*/
main{
    padding-top: 40px;
 
    margin-bottom: 0;
    background-color: white;
    width: 100%;
    height: 950px;
}
h1{
    color: var(--color3);
    font-size: 3rem;
    margin: 0;
}

p{  
    margin: 0 auto;
    width: 900px;
    font-size: 25px;
    font-weight: 600;
    margin-top: 25px;
    color: var(--color1);
    text-indent: 2rem;
    text-align: justify;
}
/* tablas*/
.table{
    background-color: var(--color1);
    width: 100%;
    height: 2150px;
    padding-top: 50px;
}
.logo-table{
    width: 100px;
    height: 100px;
}
.container-tables{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    place-items: center;
}

table{
    border: 4px solid var(--color3);
    border-radius: 5px;
    margin: 25px auto;
    width: 900px;
}
span{
    display: block;
}

th{
    background-color: var(--color2);
    width: 450px;
    font-size: 23px;
    height: 3rem ;
    color: var(--color3);
}
/*Propuestas*/
.propuestas{
    width: 100%;
    height: 600px;
    
    opacity: 80%;
    position: relative;
    isolation: isolate;
}

.propuestas::after{
    content: '';
    position: absolute;
    z-index: -1;
    inset: 0;
    background-color: white;
    opacity: .3;
    background-image: url(Imgs/Logo.png);
    background-repeat: no-repeat;
    background-size: 800px;
    background-position: center;
}
h2{
    margin: 0;
    padding-top: 20px ;
    color: var(--color3);
    text-decoration: underline;
    font-size: 30px;
    font-weight: 900;
}
.container-prop ul{
    margin: 0 auto;
    margin-top: 20px;
    width: 95%;
}

.container-prop li{
    padding: 0;
    margin-right: 0;
    font-size: 24px;
    font-weight: 600;
    color: var(--color3);
    margin-top: 4px;
     text-align: justify;
}

/* Contact */
footer{
    background-color: var(--color3);
    height: 200px;
    width: 100vw;
    border-top:1px solid var(--color3);
}


.container{
  
  font-size: 28px;
  width: 60%;
  height: 4rem;
  line-height: 60px;
  text-align: center;
  background: var(--color1);
  border-radius: 25px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
  transition: all .4s ease-in-out;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 60px auto;
}
i{
    margin-left: 8px;
    position: relative;
    top: -4px;
    font-size: 19px;
    font-weight: 500;
}
.fa{
    text-decoration: none;
    color: var(--color4);
    padding: 8px 10px;
}
.fa:hover{
    background-color: var(--color1);
    border-radius: 25px;
    filter: brightness(115%);    
}



@media(max-width: 720px){

    /* Navegador*/
#nav{
    height: 3rem;
    border-bottom: 2px solid var(--color3);
}


nav li{
   margin-right: 10px ;
   font-size: 17px;
}
/*Primer Section*/
.container-section-one{
    width: 100%;
    height: 300px;
    }
    
    /*Main*/
    main{
        
        margin-bottom: 0;
        background-color: white;
        width: 100%;
        height: 500px;
    }
    .logo{
        width: 200px;
        height: 200px;
    }

    h1{
         font-size: 2rem;   
    }
    
    p{  
        width: 500px;
        font-size: 13px;
        font-weight: 300; 
    }

    footer{
        background-color: var(--color3);
        height: 200px;
        width: 100%;
        border-top:1px solid var(--color3);
    }

/* tablas*/
.table{
    height: 2150px;  
}
.logo-table{
    width: 80px;
    height: 80px;
}

table{
    width: 670px;
}

th{
    width: 420px;
    font-size: 18px;
    height: 3rem ;
}
/*Propuestas*/
.propuestas{
    height: 530px;
}

.propuestas::after{
    background-size: 500px; 
}
h2{
    padding-top: 20px ;
    font-size: 20px;
    font-weight: 900;
}
.container-prop ul{
    width: 95%;
}

.container-prop li{
    font-size: 15px;
    font-weight: 600;
    margin-top: 4px;
}
    
    
    /*Footer*/
    .container{
      
      font-size: 22px;
    
      height: 3rem;
    }
    i{
        font-size: 15px;
        font-weight: 300;
    }

}
@media(min-width: 500px) and (max-width: 720px){

    /* Navegador*/
#nav{
    height: 3rem;
    border-bottom: 2px solid var(--color3);
}


nav li{
   margin-right: 10px ;
   font-size: 15px;
}
/*Primer Section*/
.container-section-one{
    width: 100%;
    height: 300px;
    }
    
    /*Main*/
    main{
        
        margin-bottom: 0;
        background-color: white;
        width: 100%;
        height: 600px;
    }
    .logo{
        width: 200px;
        height: 200px;
    }

    h1{
         font-size: 2rem;   
    }
    
    p{  
        width: 360px;
        font-size: 13px;
        font-weight: 300; 
    }

    footer{
        background-color: var(--color3);
        height: 200px;
        width: 100%;
        border-top:1px solid var(--color3);
    }
    /* tablas*/
.table{
    height: 1830px;  
}
.logo-table{
    width: 80px;
    height: 80px;
}

table{
    width: 470px;
}

th{
    width: 380px;
    font-size: 16px;
    height: 40px ;
}
/*Propuestas*/
.propuestas{
    height: 630px;
}

.propuestas::after{
    background-size: 500px; 
}
h2{
    padding-top: 20px ;
    font-size: 16px;
    font-weight: 700;
}
.container-prop ul{
    width: 90%;
}

.container-prop li{
    font-size: 15px;
    font-weight: 600;
    margin-top: 4px;
}
    
    /*Footer*/
    .container{
      
      font-size: 16px;
        width: 80%;
      height: 3rem;
    }
    i{
    
        font-size: 15px;
        font-weight: 300;
    }

}
@media(min-width: 375px) and (max-width: 500px){

    /* Navegador*/
#nav{
    height: 2rem;
    border-bottom: 2px solid var(--color3);
}
ul{
    margin-right: 5px ;
}

nav li{
   margin-right: 2px ;
   font-size: 13px;
}
/*Primer Section*/
.container-section-one{
    margin-top: 34px;
    height: 250px;
    }
    
    /*Main*/
    main{
        
        margin-bottom: 0;
        background-color: white;
        width: 100%;
        height: 600px;
    }
    .logo{
        width: 180px;
        height: 180px;
    }

    h1{
         font-size: 20px;   
    }
    
    p{  
        width: 290px;
        font-size: 13px;
        font-weight: 300; 
    }

        /* tablas*/
.table{
    height: 1830px;  
}
.logo-table{
    width: 80px;
    height: 80px;
}

table{
    width: 350px;
}

th{
    width: 250px;
    font-size: 15px;
    height: 40px ;
}
/*Propuestas*/
.propuestas{
    height: 570px;
}

.propuestas::after{
    background-size: 500px; 
}
h2{
    padding-top: 20px ;
    font-size: 15px;
    font-weight: 800;
}
.container-prop ul{
    width: 85%;
}

.container-prop li{
    font-size: 13px;
    font-weight: 600;
    margin-top: 4px;
    margin-left: -15px;
}
 /*Footer*/
    footer{
        height: 180px;
    }
    .container{
      font-size: 18px;
      width: 95%;
      height: 3rem;
    }
    i{
        top: -2px;
        font-size: 15px;
        font-weight: 200;
    }

}


